<div class="container">
  <p><h1>HOME.HANDLEBARS</h1></p>
  <hr>
  <p><h2>Listado de Productos</h2></p>  
  <div id="contenedordeproductos">    
    {{#each productos}}
    <div>           
        <div>Id: {{this.id}} Título: {{this.title}} Descripción: {{this.description}} Código: {{this.code}} Precio: {{this.price}} Stock: {{this.stock}} Categoría: {{this.category}} Imágenes: {{this.thumbnails}} Estado: {{this.status}} </div>                
    </div>
    <br>
    {{/each}}
  </div>
</div>