<div class="container">
  <p><h1>REALTIMEPRODUCTS.HANDLEBARS</h1></p>
  <hr>
</div>

<div class="container mt-5">
  <h2>Agregar un Producto</h2>
  <br>
  <form id="productForm">
    <div class="form-group row">
      <label for="title" class="col-sm-1 col-form-label">Título:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="title" name="title" required>
      </div>
    </div>    
    <div class="form-group row">
      <label for="description" class="col-sm-1 col-form-label">Descripción:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="description" name="description" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="code" class="col-sm-1 col-form-label">Código:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="code" name="code" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="price" class="col-sm-1 col-form-label">Precio:</label>
      <div class="col-sm-5">
        <input type="number" class="form-control" id="price" name="price" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="stock" class="col-sm-1 col-form-label">Stock:</label>
      <div class="col-sm-5">
        <input type="number" class="form-control" id="stock" name="stock" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="category" class="col-sm-1 col-form-label">Categoría:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="category" name="category" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="thumbnails" class="col-sm-1 col-form-label">Imágenes:</label>
      <div class="col-sm-5">
        <input type="file" class="form-control-file" id="thumbnails" name="thumbnails" accept="image/*" multiple>
      </div>
    </div>
    <div class="form-group row">
      <label for="status" class="col-sm-1 col-form-label">Estado:</label>
      <div class="col-sm-5">
        <select class="form-control" id="status" name="status" required>
          <option value="true">Disponible</option>
          <option value="false">No Disponible</option>
        </select>
      </div>
    </div>
    <br>
    <div class="form-group row">
      <div class="col-sm-5 offset-sm-1">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </form>
<hr>
</div>

<div class="container">
  <h2>Listado de Productos</h2>  
  <div id="contenedordeproductos">
    {{#each productos}}
      <div>           
        <div><button class="btn btn-danger" onclick="eliminarProductoDom('{{this.id}}')">Eliminar</button> Id: {{this.id}} Título: {{this.title}} Descripción: {{this.description}} Código: {{this.code}} Precio: {{this.price}} Stock: {{this.stock}} Categoría: {{this.category}} Imágenes: {{this.thumbnails}} Estado: {{this.status}} </div>                
      </div><br>
    {{/each}}
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<!-- Cliente JavaScript -->
<script src="/js/index.js"></script>